.sidebar {
  grid-area: sidebar;
  background-color: var(--COLOR-WHITE);
  display: flex;
  flex-direction: column;
}
.md-pd {
  padding: 1.2rem 1rem 1.2rem 1rem;
}
.aside-heading {
  text-decoration: none;
  color: var(--COLOR-BLACK);
  cursor: pointer;
}
.active-link {
  color: var(--COLOR-PRIMARY);
}
.inactive-link:hover {
  background-color: var(--INACTIVE-LINK);
}
.sidebar-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
