.video-container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  padding: 0 0 1rem 0rem;
  /* background-color: var(--VIDEO-LIB-BACKGROUND-COLOR); */
}
.vertical-cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}
.video-filters {
  margin: 2rem 0;
  /* padding: 0 5px; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
