.video-container {
  margin-top: 2rem;
  padding: 2rem;
}
.videoPage-title {
  font-size: 2rem;
  font-weight: 500;
  margin: 2rem 0;
}
.video-operation {
  display: flex;
  justify-content: space-between;
}
.youtube-icons {
  display: flex;
  gap: 1rem;
}
.video-content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.video-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.video-item .video-btn {
  display: flex;
  align-items: center;
}
.incr-font {
  font-size: 1.7rem;
  font-weight: 600;
  padding-right: 3px;
}
.video-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.video-creator-name {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.incr-font-creator {
  font-size: 1.7rem;
  font-weight: 600;
  margin-left: 1rem;
}
.video-creator-round-img {
  border-radius: 50%;
}
.btn-disable {
  cursor: not-allowed;
}
.video-icon-color {
  color: var(--COLOR-PRIMARY);
}
.video-discription {
  line-height: 2.3rem;
  font-size: 1.8rem;
}
.player {
  width: 100%;
  height: 100%;
}
.iframe-container {
  height: 90vh;
}
@media screen and (max-width: 800px) {
  .iframe-container {
    height: 50vh;
  }
}
@media screen and(max-width:400px) {
  .icon-hide {
    font-size: 1rem;
    font-weight: 400;
    padding-right: 2px;
  }
}
