.videoPage-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.video-container {
  margin-top: 2rem;
}
.videoPage-title {
  font-size: 2rem;
  font-weight: 500;
  margin: 2rem 0;
}
.video-operation {
  display: flex;
  justify-content: space-between;
}
.youtube-icons {
  display: flex;
  gap: 1rem;
}
.video-content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.video-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.video-item .video-btn {
  display: flex;
  align-items: center;
}
.incr-font {
  font-size: 1.7rem;
  font-weight: 600;
  padding-right: 3px;
}
.video-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.video-creator-name {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.incr-font-creator {
  font-size: 1.7rem;
  font-weight: 600;
  margin-left: 1rem;
}
.video-creator-round-img {
  border-radius: 50%;
}
.btn-disable {
  cursor: not-allowed;
}
.video-icon-color {
  color: var(--COLOR-PRIMARY);
}
.player-wrapper {
  position: relative;
  /* width: 70%;
  height: 45vh; */
  /* padding-top: 56.25%; */
  padding-bottom: 56.25%;
  height: 0;
}
/*Player ratio: 100 / (1280 / 720)*/
.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* .single-video-player {
  width: 70%;
  height: 60vh; */
/* margin: 1rem 0 0; */
/* } */
