@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: "Pacifico", cursive;
  font-family: "Roboto", sans-serif;
}
:root {
  --VIDEO-LIB-BACKGROUND-COLOR: rgb(245, 245, 220);
  --INACTIVE-LINK: rgb(222, 222, 222);
}
a {
  text-decoration: none;
  color: inherit;
}
