.creator {
  width: 100%;
  max-width: 3rem;
  max-height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}
.video-title {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.videocard-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 35rem;
  background-color: var(--COLOR-WHITE);
  box-shadow: 0px 3px 10px var(--BOX-SHADOW-LIGHTER);
  margin-bottom: 3.2rem;
  cursor: pointer;
}
.videocard-dimension {
  height: 33rem;
}
.video-link {
  position: relative;
  height: 20rem;
  width: 35rem;
}

.video-creator {
  padding-left: 4rem;
}
.watch-later-card {
  display: flex;
  justify-content: space-between;
}
.btn-position {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
